body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }
        /*-----HITIMANA FABRICE 222010357----> */
        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
            text-align: center;
        }
        nav ul li {
            display: inline;
            margin-right: 20px;
        }
        nav ul li a {
            color: #fff;
            text-decoration: none;
        }
        main {
            padding: 20px;
        }
        section {
            margin-bottom: 30px;
        }
        h2 {
            margin-top: 0;
        }
        p {
            line-height: 1.6;
        }
        .featured-rooms {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .featured-room {
            width: calc(33.33% - 20px);
            margin-bottom: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }
        .featured-room h3 {
            margin-top: 0;
        }
        .featured-room img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        .featured-room p a {
            color: #007bff;
            text-decoration: underline;
        }
        .featured-room p a:hover {
            color: #0056b3;
        }
        .customer-reviews {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .customer-review {
            width: calc(50% - 20px);
            margin-bottom: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }
        .customer-review h3 {
            margin-top: 0;
        }